<div id="mr">
  This is main
  <div id="inner">This is old stuff</div>
</div>

<div id="page">
</div>

<div>
  Name: <input type="text" id="name"><br>
  Pass: <input type="text" id="pass"><br>
  <button id="login">Login</button>
</div>

<div>
  <button id="show-templates">Show templates</button>
</div>
<div>
  <button id="show-data">Show data</button>
</div>
</div>
<div>
  <button id="show-ready">Show ready</button>
</div>

<div>
  <button id="navigate-main">Main</button>
</div>
