<div id="mr">
  Error!
</div>



<div>
  <button id="show-templates">Show templates</button>
</div>
<div>
  <button id="show-behaviours">Show behaviours</button>
</div>
<div>
  <button id="show-data">Show data</button>
</div>
</div>
<div>
  <button id="show-ready">Show ready</button>
</div>

<div>
  <button id="navigate-main">Main</button>
</div>
